
/*
body {
    padding-top: 300px;
    padding-bottom: 20px;
}
*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 150px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}

.register-content {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
}

.register-content {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
}

.Admin_btn {
    padding: 16.5px 33px;
    border: 1px solid #C7C7C7;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#00BBFF));
    background: -webkit-linear-gradient(top, #FFFFFF, #00BBFF);
    background: -moz-linear-gradient(top, #FFFFFF, #00BBFF);
    background: -ms-linear-gradient(top, #FFFFFF, #00BBFF);
    background: -o-linear-gradient(top, #FFFFFF, #00BBFF);
    background-color: #00BBFF;
    box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 6px #9C0000;
    -webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 6px #9C0000;
    -moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 6px #9C0000;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: #000000 1px 1px 0px;
    color: #3B3230;
    font-size: 41px;
    font-family: '微軟正黑體';
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    cursor: pointer;
}

    .Admin_btn:hover {
        background: none;
        background-color: #00BBFF;
        box-shadow: 0px 0px 5px 0px #AAAAAA;
        -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
        -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
        border: 1px solid #ffffff;
        color: #470000;
    }

    .Admin_btn:active {
        top: 1px;
        position: relative;
    }

.Admin_p {
    color: #220088;
    font-weight: bold;
    font-size: 2cm;
    font-family: '微軟正黑體';
    padding-top: 30px;
}

.Position_List {
    border: 1px;
    position: relative;
    left: 1000px;
}

.Admin_Table {
    border-style: ridge;
    border-color: #444444;
}

.Admin_btn_Purchase {
    -moz-box-shadow: inset 4px -3px 21px 3px #3b71c7;
    -webkit-box-shadow: inset 4px -3px 21px 3px #3b71c7;
    box-shadow: inset 4px -3px 21px 3px #3b71c7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3b71c7), color-stop(1, #415989));
    background: -moz-linear-gradient(top, #3b71c7 5%, #415989 100%);
    background: -webkit-linear-gradient(top, #3b71c7 5%, #415989 100%);
    background: -o-linear-gradient(top, #3b71c7 5%, #415989 100%);
    background: -ms-linear-gradient(top, #3b71c7 5%, #415989 100%);
    background: linear-gradient(to bottom, #3b71c7 5%, #415989 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b71c7', endColorstr='#415989',GradientType=0);
    background-color: #3b71c7;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 12px 34px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3c5bba;
}

    .Admin_btn_Purchase:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #3b71c7));
        background: -moz-linear-gradient(top, #415989 5%, #3b71c7 100%);
        background: -webkit-linear-gradient(top, #415989 5%, #3b71c7 100%);
        background: -o-linear-gradient(top, #415989 5%, #3b71c7 100%);
        background: -ms-linear-gradient(top, #415989 5%, #3b71c7 100%);
        background: linear-gradient(to bottom, #415989 5%, #3b71c7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#3b71c7',GradientType=0);
        background-color: #415989;
    }

    .Admin_btn_Purchase:active {
        position: relative;
        top: 1px;
    }


        


.fontsetting {
    font-size: 18px;
    color: #003377;
    font-weight: bold;
}


.SaleTable {
    text-align: center;
    align: center;
}
