@{
    if (Request.Cookies["cookie"] != null)
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
    else
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
</div>
<div class="register-content">
    @using (Html.BeginForm("Insert", "Registered", FormMethod.Post))
    {
        <table style="border:3px #cccccc solid;" cellpadding="10" align="center" >
            <tr>
                <td>E-Mail：</td>
                <td>@Html.TextBox("Customer_Email")</td>
            </tr>
            <tr>
                <td>密碼：</td>
                <td>@Html.Password("Customer_Password")</td>
            </tr>
            <tr>
                <td>密碼確認：</td>
                <td><input type="password" name="PwdCk" /></td>
            </tr>
            <tr>
                <td>姓名：</td>
                <td>@Html.TextBox("Customer_Name")</td>
            </tr>
            <tr>
                <td>手機：</td>
                <td>@Html.TextBox("Customer_Cellphone")</td>
            </tr>
            <tr>
                <td><input type="submit" value="已有帳號?" name="submitButton" /></td>
                <td align="center">
                    <input type="submit" value="註冊" name="submitButton" />
                    <input type="reset" value="清除" />
                </td>
            </tr>
        </table>
    }
</div>
