@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">    
    
    @using (Html.BeginForm("Index", "Inquire", FormMethod.Post))
    {
        <table border="1">
            <tr>
                <td rowspan="3">1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td><input type="text" name="BookName"/></td>
                <td><input type="submit" value="查詢" /></td>

            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
            </tr>
        </table>
    }
    
</div>


<div>
    <table>

    </table>
</div>