@{
    if (Request.Cookies["cookie"] != null)
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
    else
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="register-content">
    @using (Html.BeginForm("Admin_Check", "Admin", FormMethod.Post))
    {
        <table cellpadding="10" align="center">
            <tr><th>帳號：</th><td>@Html.TextBox("Admin_Account")</td></tr>
            <tr><th>密碼：</th><td>@Html.Password("Admin_Password")</td></tr>
            <tr><th></th><td><input type="submit" value="登入" />&nbsp;&nbsp;&nbsp;<input type="reset" value="清除"></td></tr>
        </table>
    }
</div>

